NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
XRPL_NETWORK=mainnet
XRPL_WS_URL=
BOT_WALLET_MASTER_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
XRPL_FUNDER_SEED=
XUMM_API_KEY=
XUMM_API_SECRET=
RLUSD_ISSUER=rMxCKbEDwqr76QuheSUMdEGf4B9xJ8m5De
TAURI_API_KEY=
